form {
  margin-top: 20px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;

  label,
  input,
  textarea {
    width: 90%;
    max-width: 400px;
    background-color: var(--main-color4);
  }
  label {
    padding-left: 10px;
    margin-top: 10px;
    display: none;
  }

  input,
  #message {
    padding: 5px 10px;
    margin-top: 10px;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 500;
    color: var(--second-color2);
    resize: none;
  }
  input::placeholder,
  #message::placeholder {
    color: var(--second-color2);
  }
  .sent-message {
    color: #65d435;
    font-size: 13px;
  }
  .error-message {
    color: #ff0a0a;
    font-size: 13px;
  }
  button {
    width: 150px;
    padding: 5px 30px;
    font-size: 20px;
    font-weight: 600;
    background-color: var(--main-color1);
    color: var(--main-color3);
    border: none;
    outline: none;
    margin-top: 20px;
    border-radius: 20px;
  }
}

@media screen and (min-width: 1200px) {
  form {
    label,
    input,
    textarea {
      width: 600px;
    }
    input,
    #message {
      padding: 15px 20px;
    }
    .sent-message,
    .error-message {
      font-size: 16px;
    }
    button {
      font-size: 25px;
      cursor: pointer;
    }
  }
}
