.list_carpost {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  @media screen and (min-width: 750px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (min-width: 1200px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media screen and (min-width: 1400px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
